body {
  background: repeating-linear-gradient(45deg,
      #013a79,
      #013a79 300px,
      #003a70 300px,
      #003a70 600px);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-item {
  background: rgb(255, 255, 255, .05)
}

.navbar-custom {
  background-color: #003a70 !important;
  box-shadow: 0 1px 3px black;
}

.pokemon-list div {
  background: linear-gradient(to top right, rgba(255, 203, 5, .1), rgba(0, 58, 112, .2));
  border-bottom: none;
  cursor: pointer;
  transition: all .3s ease-in;
}

.pokemon-list div:hover,
.pokemon-list div:active {
  background: rgba(255, 255, 255, .2);
  border-radius: 15px;
}

.list-img {
  margin-bottom: 10px;
  transition: all .3s ease-in;
  width: 100px;
}

.list-img:hover,
.list-img:active {
  animation: shake 1s infinite;
}

@keyframes shake {
  0%{
    transform: rotate(4deg);
  }
  20%{
    transform: rotate(-5deg);
  }
  40%{
    transform: rotate(15deg) translateX(5px);
  }
  60%{
    transform: rotate(-6deg) translateX(-7px);
  }
  80%{
    transform: rotate(8deg) translateY(-8px);
  }
  99.9%{
    transform: rotate(4deg) translateY(3px);
  }
}

.fire-bg {
  background-color: rgb(226, 88, 34);
}

.grass-bg {
  background-color: rgb(126, 200, 80);
}

.water-bg {
  background-color: rgb(27, 149, 224);
}

.poison-bg {
  background-color: rgb(134, 1, 191);
}

.electric-bg {
  background-color: rgb(255, 255, 0);
}

.ground-bg {
  background-color: rgb(155, 118, 83);
}

.fairy-bg {
  background-color: rgb(213, 211, 254);
}

.fighting-bg {
  background-color: rgb(53, 60, 167);
}

.ice-bg {
  background-color: rgb(185, 232, 234);
}
