body {
  background: repeating-linear-gradient(45deg,
      #013a79,
      #013a79 300px,
      #003a70 300px,
      #003a70 600px);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.list-item {
  background: rgba(255, 255, 255, .05)
}

.navbar-custom {
  background-color: #003a70 !important;
  box-shadow: 0px 1px 3px black;
}

.pokemon-list div {
  cursor: pointer;
  border-bottom: none;
  background: linear-gradient(to top right, rgba(255, 203, 5, .1), rgba(0, 58, 112, .2));
  transition: all .3s ease-in;
}

.pokemon-list div:hover,
.pokemon-list div:active {
  border-radius: 15px;
  background: rgba(255, 255, 255, .2);
}

.list-img {
  width: 100px;
  margin-bottom: 10px;
  transition: all .3s ease-in;
}

.list-img:hover,
.list-img:active {
  animation: shake 1s infinite;
}

@keyframes shake {
  0%{
    transform: rotate(4deg);
  }
  20%{
    transform: rotate(-5deg);
  }
  40%{
    transform: rotate(15deg) translateX(5px);
  }
  60%{
    transform: rotate(-6deg) translateX(-7px);
  }
  80%{
    transform: rotate(8deg) translateY(-8px);
  }
  99.9%{
    transform: rotate(4deg) translateY(3px);
  }
}
